In [2]:
import numpy as np
import scipy as sp
import pandas as pd

In [4]:
df_l = pd.read_csv("Dataset/コイル大.csv")
df_s = pd.read_csv("Dataset/コイル小.csv")

In [5]:
df_l.head()

           H         B
0   5.425737  0.004468
1  10.851470  0.008042
2  16.277210  0.020850
3  21.702950  0.041699
4  27.128680  0.062549

In [6]:
df_s.head()

           H        B
0   7.957747  0.00283
1  15.915490  0.01053
2  23.873240  0.53938
3  31.830990  0.77054
4  39.788740  0.84759

In [18]:
def max_mu(df):
    df = df.sort_values("H")
    dx = df["H"].diff()
    dy = df["B"].diff()
    slope = dy/dx
    max_mu = slope.max()
    idx = slope.idxmax()
    print(f"最大傾き: {slope[idx]}")
    print(f"区間: H={df.loc[idx-1, 'H']} to H={df.loc[idx, 'H']}")

In [19]:
max_mu(df_l)

最大傾き: 0.01646890562393331
区間: H=48.83163 to H=54.25737

In [20]:
max_mu(df_s)

最大傾き: 0.06645722723131538
区間: H=15.91549 to H=23.87324